extends layout

block content
  h1= title
  - var image_names = ["dim1", "dim2", "dim3", "dim4", "dim5"]
  - for(let i = 0; i < 3; i++) {
    - let number = Math.floor(Math.random() * 5)
        img(src=`/images/${image_names[number]}.jpg`, alt="Different images every time", height="400px", width="400px")
  - }